API interface violates HTTP protocol specification by including response body with 400 status code

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/YOURLS/.github/blob/main/CODE_OF_CONDUCT.md).

### Submission validity

- [X] This is not a personal support request, that should be posted on [discussions community](https://github.com/YOURLS/YOURLS/discussions).
- [X] I checked [current issues](https://github.com/YOURLS/YOURLS/issues) and this request isn't a duplicate of an existing issue, opened or closed.

### Self troubleshooting

- [X] I've read the [documentation](https://yourls.org/) and made sure to follow it.
- [X] I've read the [troubleshooting first steps](https://docs.yourls.org/guide/troubleshooting/first-steps.html) and [frequent issues](https://docs.yourls.org/guide/troubleshooting/frequent-issues.html) guides.

### Version

1.9.2

### Description

In the API interface of YOURLS short link project, the response includes a body even when the HTTP status code is 400. According to the HTTP protocol specifications, when the HTTP status code is 400 (Bad Request), the server should not include any body in the response. This is because the 400 status code indicates that the client's request is incorrect or cannot be handled, and the server cannot provide a suitable response.

Please refer to section 6.5.1 of RFC 7231 (https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.1) for details:

> 6.5.1.  400 Bad Request
>
> The 400 (Bad Request) status code indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).

### Expectation

I suggest that YOURLS project team should return a different HTTP status code that allows a response body.

### Reproduction steps

Using duplicate URLs to generate short links will trigger an error, causing the status code to return 400

### Context

_No response_

#3547